@import url("layout.css");

div.form{
    width: 42em;
    border-color: white;
    margin-right: auto;
    margin-left: auto;
    height: 21em;
    position: relative;
    margin-top: 30px;
    box-shadow: 0px 0px 10px #d8d4d4;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
    color: #636060;
    border-radius: 16px 16px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

div.form.admin{
margin-top: 50px;
height: 34em;

}

hgroup{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    top: 72px;
    color: #555252;
} 

h1,h3{
    text-align: center;
    margin-bottom: 2em;
}
div label{
width: 140px;
float: left;
}

div .submit_p{
position: relative;
left: 140px;
margin-top: 2em;
width: 40em;

}
p .input{
    padding: 4px 8px;
    border: 1px;
    border-bottom: 0.5px solid gray;
    
}
div .submit_b{
width: 120px;
height: 24px;
}

p.remember{
    position: absolute;
    bottom: 40px;
    width: 40em;
    text-align: right;
}

